.about_container {
  width: 70%;
  margin: 20px auto 100px auto;
}
.sp-br {
  display: none;
}

.about_title {
  text-align: center;
  font-size: 40px;
}

.introduction {
  text-align: center;
  font-size: 15pt;
  margin-bottom: 30px;
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.photos img {
  width: 100%;
}

.more_btn {
  border: none;
  background-color: #fff;
  padding: 2em;
  text-align: center;
  margin-top: 20px;
}
.more_btn a {
  background-color: rgba(0, 0, 0, 0.8) ;
  text-decoration: none;
  padding: 1.3em;
  color: #fff;
  
}


@media (max-width: 786px) {
  .about_container {
    width: 95%;
  }

  .sp-br {
    display: block;
  }

  .photos {
    grid-template-columns: 1fr 1fr;
  }
}
