.about_container {
  width: 70%;
  margin: 20px auto 100px auto;
}
.sp-br {
  display: none;
}

.about_title {
  text-align: center;
  font-size: 40px;
}

.introduction {
  text-align: center;
  font-size: 15pt;
  margin-bottom: 30px;
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.photos img {
  width: 100%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.photos img:hover {
  transform: scale(1.1);
}

.more_btn {
  border: none;
  background-color: #fff;
  padding: 2em;
  text-align: center;
  margin-top: 20px;
}
.more_btn a {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  padding: 1.3em;
  color: #fff;
}
.more_btn a:hover {
  background-color: rgba(0, 0, 0, 0.95);
}

/* modal */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.60);
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow: hidden;
  width: 90%;
}

.modal-content img {
  width: 100%;
  height: auto;
}

@media (max-width: 786px) {
  .about_container {
    width: 95%;
  }

  .sp-br {
    display: block;
  }

  .photos {
    grid-template-columns: 1fr 1fr;
  }

  .more_btn {
    font-size: 12px;
  }
}
