.work_container {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  background: url(./images/work_sakura.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-attachment: scroll;
}
.work_container p {
  margin: 20px 0;
  font-size: 15pt;
}
.projects {
  padding-bottom: 90px;
}
.project {
  width: 550px;
  margin: 20px auto;
  display: flex;
  align-items: center;
}
.image {
  text-align: left;
}

.image img {
  max-width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.work_description {
  font-weight: bold;
  text-align: left;
  font-size: 22px;
  padding: 1em;
  border-radius: 80% 30% 50% 50%/50%;
  background: rgba(0, 0, 0, 0.3);
}
.work_description p {
  font-weight: normal;
  font-size: 13pt;
  margin: 0;
}

.language {
  margin-bottom: 1em !important;
}

.icon {
  margin: 1em;
}
.right {
  margin-left: 2em;
}

.left {
  margin-right: 2em;
}

.btn {
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 5%;
  padding: 7px;
  font-size: 11pt;
  text-align: center;
  cursor: pointer;
  margin-top: 1em;
}
.btn a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.btn:hover {
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 1);
}
.btn a:hover { 
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 786px) {
  .work_container {
    background-size: cover;
    background-position: center center;
  }

  .projects {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }

  .project {
    display: grid;
    margin: 30px auto;
    width: 100%;
  }
  .image {
    text-align: center;
  }

  .right,
  .left {
    margin: 0;
  }

  .work_description {
    text-align: center;
    margin: 0 auto;
    width: 320px;
  }

  .project_1 > .image {
    grid-row: 1 / 2;
  }
  .project_1 > .work_description {
    grid-row: 2 / 3;
  }

  .project_2 > .image {
    grid-row: 1 / 2;
  }
  .project_2 > .work_description {
    grid-row: 2 / 3;
  }

  .project_3 > .image {
    grid-row: 1 / 2;
  }
  .project_3 > .work_description {
    grid-row: 2 / 3;
  }

  .project_4 > .image {
    grid-row: 1 / 2;
  }
  .project_4 > .work_description {
    grid-row: 2 / 3;
  }
}
