* {
    margin: 0;
    padding: 0;
}
/* .gradientColor {
    height: 100vh;
    background: #30e8bf; 
    background: -webkit-linear-gradient(45deg,#ff8235, #30e8bf);
    background: linear-gradient(45deg,#ff8235, #30e8bf);
  } */